.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* Venstre tekstkasse */
.left-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Højre liste */
.right-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.search-box {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f0f7f0;
  cursor: pointer;
}

.open-link {
  color: blue;
  text-decoration: underline;
}

.button-row {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.green-btn {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.green-btn:hover {
  background: #3c8a3f;
}
